<div *ngIf="success" class="status-message" style="color: green; text-align: center; margin-bottom: 1em; font-weight: 500; font-size: 1.1rem;">{{ success }}</div>
<div *ngIf="loading">Loading games...</div>
<div *ngIf="error" style="color: red;">{{ error }}</div>
<div *ngIf="!loading && !error && games.length" class="games-grid-container">
  <ul class="games-grid">
    <li *ngFor="let game of games">
      <strong [routerLink]="['/games', game.id]" style="cursor:pointer;">{{ game.title }}</strong>
    </li>
  </ul>
</div>
<div *ngIf="!loading && !error && !games.length">No games found.</div>
